.header {
	background-color: #343A40;
	color: white;
}

.navContainer {
	display: flex;
	justify-content: space-between;
	padding: 0.5em 0;
}

.navContainer h1 {
	margin: 0;
	font-weight: 100;
}

.subtitle {
	font-weight: 1;
	color: #CCCCCC;
}

.navContainer h1 a {
	text-decoration: none;
	color: white;
}

.navContainer h1:hover {
	font-weight: 500;
}

.navContainer ul {
	display: flex;
	list-style: none;
	padding: 0;
}

.navContainer li {
	margin-left: 2em;
}

.navContainer nav a {
	text-decoration: none;	
	color: #DDDDDD;
	transition: color 0.3s ease 0s;
}

.navContainer nav a:hover {
	color: snow;
}

.collapseButton {
	display: none;
	padding: 0.25em;
	border: 1px solid grey;
	border-radius: 0.5em;
	cursor: pointer;
}

.collapseButton div {
	width: 1em;
	height: 0.1em;
	margin: 0.25em 0;
	background: white;
}


@media (max-width: 600px) {
	.navContainer {
		flex-direction: column;
	}


	.logo_collapseButton_wrapper {
		display: flex;
		justify-content: space-between;
	}

	.collapseButton {
		margin: auto 0;
		display: inline-block;
	}

	.navContainer ul {
		flex-direction: column;
		text-align: right;
	}

	.navContainer li {
		margin: 0.5em 0;
	}

	.hidden {
		display: none;
	}


}
